 body{
 	text-align: left;
 	background-image: url(download.jpg);
 	background-size:cover;
 	margin: 0px;
 	font: 1.2em/1.5em;
 }

  
 #content{
 	background-color: #fff  ;
 	width: 40%;
 	height: 60%;
 	padding: 20px;  
 	margin: 100px auto;
 	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.2);
 	-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.2);
 	box-shadow:0px 0px 5px rgba(0,0,0,0.2);

 	-moz-background-clip:padding;
 	-webkit-background-clip:padding;
 	background-clip:padding-box;

 	border: 10px solid transparent;
 	
 }